.root {
  margin-top: 2rem;
  margin: auto;
}

.formControl {
  margin: 4rem;
}

.button {
  margin-top: 2rem;
  margin-left: 4rem;
}

.title {
  color: white;
  margin-top: 2rem;
  margin-left: 4rem;
}
