.app {
  display: flex;
  width: 99.99vw;
  min-height: 99.99vh;
}

.module {
  display: flex;
  width: 43vw;
  height: 99.99vh;
  overflow: hidden;
}

.module.half {
  width: 13.99vw;
  background: #424242;
  color: #fff;
}

.module.scroll {
  overflow-y: auto !important;
}
